{% extends "base.html" %} {% block header %} 歡迎光臨，請輸入帳號密碼 {%
endblock %} {% block content %}
<form method="post" action="/signin" class="form__container">
  <div class="form form__title">登入系統</div>
  <div class="form form__username">
    <label for="username">帳號</label>
    <input type="text" name="username" id="username" />
  </div>
  <div class="form form__password">
    <label for="password">密碼</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="form form__agree">
    <label for="agree">同意條款</label>
    <input type="checkbox" name="agree" id="agree" />
  </div>
  <div class="form form__submit">
    <input type="submit" value="登入" id="signin" />
  </div>
</form>
{% endblock %}
