{% extends "base.html" %} {% from "macros.html" import form_input,
api_form_input %} {% block title %} 會員 {% endblock %} {% block header %}
歡迎光臨，這是會員頁 {% endblock %} {% block content %}
<div class="top-msg">{{name}}，歡迎登入系統</div>
<div class=""><a href="/signout">登出系統</a></div>
<form id="form-get-name">
  <div class="form-title">查詢會員姓名</div>
  {{ api_form_input("get-name", "查詢", required=true)}}
  <div class="" id="render-get-name"></div>
</form>
<hr class="solid" />
<form action="/createMessage" method="post">
  <div class="form-title">快來留言吧</div>
  {{ form_input("message", "內容", required=true)}}
  <button class="form-input" type="submit">送出</button>
</form>
<hr class="solid" />
{% for message in messages %}
<div class="message">
  <span class="msg-name">{{ message.name }}：</span>{{ message.content }} {% if
  message.deletable %}
  <button id="{{message.id}}" onclick="deleteMessage(this.id)">X</button>
  {% endif %}
</div>
{% endfor %} {% endblock %}
