html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.nav-title {
  font-weight: bold;
}

.text {
  font-size: 2rem;
}

.welcome-container {
  height: 25rem;
  position: relative;
  background-color: #dcedf7;
  margin-bottom: 4rem;
}

.welcome-text {
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-container {
  display: flex;
}

.nav-item {
  margin-left: 2rem;
}

.main-container {
  display: grid;
  width: 120rem;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.promo {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #cbdce7;
}

.promo-1 {
  grid-column: 1 / 3;
}

.promo-2 {
  grid-column: 3 / 5;
}

.promo-3 {
  grid-column: 5 / 7;
}

.promo-img {
  background-image: url("landscape.jpg");
  background-size: cover;
  width: 8rem;
  height: 100%;
  margin-right: 1rem;
}

.figure {
  background-image: url("landscape.jpg");
  background-size: cover;
  height: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.figure-1,
.figure-6 {
  grid-column: 1 / 3;
}

.star-icon {
  width: 2rem;
  opacity: 0.5;
  padding: 1rem;
  position: absolute;
  top: 0%;
  right: 0%;
}

.figure-text {
  background-color: rgb(255, 255, 255, 0.75);
  padding: 1rem;
  text-align: center;
}
