{% macro form_input(name, label, type="text", value="", required=false) %}
<div class="form-input">
  <label for="{{name}}">{{label}}</label>
  <input
    type="{{type}}"
    name="{{name}}"
    value="{{value}}"
    {%
    if
    required
    %}required{%
    endif
    %}
  />
</div>
{% endmacro %} {% macro api_form_input(api_name, submit_text, placeholder="",
type="text", required=false) %}
<div class="form-input">
  <input
    type="{{type}}"
    id="input-{{api_name}}"
    placeholder="{{placeholder}}"
    {%
    if
    required
    %}required{%
    endif
    %}
  />
  <input type="submit" value="{{submit_text}}" />
</div>
{% endmacro %}
