body {
  margin: 0;
}
.header {
  background-color: #213243;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  padding-bottom: 5px;
}

.form__title {
  font-weight: bold;
  font-size: 18px;
}
